<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Side Bare </h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu"  routerLink='/produit' routerLinkActive='active'>Produit</a>
            </li>
            <li>
                <a href="#" routerLink='/dashbord' routerLinkActive='active'>Deshbord</a>
            </li>
            <li>
                <a href="#pageSubmenu" >Liste</a>
            </li>
            <li>
                <a href="#">About us</a>
            </li>
            <li>
                <a href="#" routerLink='/dashbord' routerLinkActive='active'> Deshbord</a>
            </li>
        </ul>
    </nav>

</div>
