
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container">
  <div class="row">


  <div class="col-lg-7">
    <table class="table table-hover">
      <thead>
        <tr>
          <td>REF</td><td>QTS</td><td>PRIX</td>
        </tr>

      </thead>
      <tbody>
        <tr>
          <td>12A3</td><td>87</td><td>2909</td>
        </tr>
        <tr>
          <td>12A3</td><td>87</td><td>2909</td>
        </tr>
        <tr>
          <td>12A3</td><td>87</td><td>2909</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="col-lg-5">
    <div class="card">
      <div class="card-head bg-info text-white">
        Ajouter Produit
      </div>
      <div class="card-body">
        form
      </div>
      <div class="card-footer">

      </div>

    </div>

  </div>
</div>

</div>
